[Unit]
Description=Buildbot

[Service]
WorkingDirectory=%h/buildbot
ExecStart=%h/buildbot/venv/bin/python %h/buildbot/venv/bin/buildbot start --nodaemon master
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=%h/buildbot/venv/bin/python %h/buildbot/venv/bin/buildbot stop master
Restart=always
KillSignal=SIGKILL

[Install]
WantedBy=default.target
