[Unit]
Description=Telegram

[Service]
Environment=XDG_CURRENT_DESKTOP=""
ExecStart=/usr/bin/telegram-desktop
Restart=on-abort

[Install]
WantedBy=graphical.target
