.ycm_extra_conf.py
.ycm_extra_conf.pyc
.arcconfig
tags
.bundle
.cache
.adobe
.cargo
.fonts
.gem
.local
.intel
.kde
.mozilla
.purple
.config/chromium
.config/akonadi
.config/libreoffice
.config/libvirt
.config/VirtualBox
.ccnet
.config/sink
.config/skypeforlinux
.config/vcsh
.config/vivaldi
.config/mr
.macromedia
.gnome
.gnome2
.thunderbird
.var
kdebuild
/home/mollekopf/Downloads
/home/mollekopf/Pictures
/home/mollekopf/Seafile
/home/mollekopf/data
/home/mollekopf/rpmbuild
/home/mollekopf/src
*.png
*.jpg
*.jpeg
intel
/home/mollekopf/bin/Postman
